
/*
!.gitignore
!/SkillMarkdown/ 
/SkillMarkdown/*    

!/SkillMarkdown/SoftUsage/
/SkillMarkdown/SoftUsage/*
!/SkillMarkdown/SoftUsage/Mill/
!/SkillMarkdown/SoftUsage/Sbt/


!/SkillMarkdown/Code/
/SkillMarkdown/Code/*
!/SkillMarkdown/Code/Chisel/
!/SkillMarkdown/Code/Scala/
*mental*


